{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
    <meta name="description" content="#">
    <meta name="keywords" content="#">
    <link href="{% static "css/blog.css" %}" type="text/css" rel="stylesheet">
</head>
<body class="page">
    <section>
        <!-- Основной контент размещается слева -->
        <div class="content">
            <!-- Подключение навигации -->
            {% include 'blog/navbar.html' %}

            <!-- Контент -->
            {% block content %}
            {% endblock %}

            <!-- Подключение подвала -->
            {% include 'blog/footer.html' %}
        </div>

        <!-- Боковая панель размещается справа -->
        <div class="sidebar">
            <h2>My blog</h2>
            <form>
                <input type="search" name="poisk" placeholder="Поиск">
                <input type="submit" value="Искать">
            </form>
        </div>
    </section>
</body>
</html>