{% extends 'blog/base.html' %}
{% load static %}


{% block title %}{{ post.title }}{% endblock %}

{% block content %}
    <div class="post-item">
        <h2>{{ post.title }}</h2>
        <p class="info-post">
            Опубликовано: {{ post.publish }} Автор: {{ post.author }}
        </p>
        <p class="description">
            {{ post.content|linebreaks }}
        </p>
        <p class="info-post">
            Последнее изменение: {{ post.updated }}
        </p>
    </div>

    <div>
        <h1>{{ my_object.title }}</h1>
        <p>{{ my_object.description }}</p>

        <!-- Вставляем сюда код кнопки "Поделиться" -->
        <p>Поделиться:</p>
        <div class="vk_share_button">
            <a href="https://vk.com/share.php?url={{ my_object.get_absolute_url }}&title={{ my_object.title }}&description={{ my_object.description }}&image={{ my_object.image.url }}" target="_blank">
                <img src="{% static '/images/VK_logo_Blue_40x40.png' %}">
            </a>
        </div>
    </div>
{% endblock %}

