* {
    margin: 0;
    padding: 0;
}

.page {
    font-family: Arial, Verdana, sans-serif;
    padding: 30px;
    background-color: whitesmoke;
}

.heading {
    background: aquamarine;
}

.content {
    float: left;
    width: 60%;
}

.sidebar {
    float: right;
    width: 30%;
    background: #efefef;
    height: 100%;
}

.footer {
    background: aquamarine;
}

h2 {
    padding: 20px;
}

p {
    padding: 5px;
    margin: 15px;
}